body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #e98a1d;
    height: 100vh;
}

h1 {
    transform: rotate(-9deg);
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 100PX;
    text-shadow: 0px 4px 0px black;
}

span {
    margin-left: 100px;
}

#stage {
    width: 100vh;
    margin: 0;
    height: 20px;
    font-size: 50px;;
}

button {
    margin: 100px;
    padding: 10px 25px;
    color: rgb(234, 239, 244);
    background: #e98a1d;
    font-size: 20px;
    border-radius: 10px;
    font-family: inherit;
}

button:hover {

}